@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root{
    --font-albert-sans: "Albert Sans", sans-serif;
    --font-logo: "Roboto Slab", serif;
    --duration-transition: .35s;

    --body: #fafafa;
    --white: #fff;
    --black: #0b0c0c;
    --color-paragraph: #343433;
    --orange: #F05F30;
    --sea-blue: #3A7193;
    --yellow: #FFDB67;

    --background-navigation: #fff;
    --underline-navlink: #fff;
    --sticky-underline-navlink-hover: #1e1e1e;
}